{% extends "cms_default.html" %}
{% load cms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block body-class %}home-template{% endblock %}
{% block pagebanner %}
<section class="banner">
  {% include 'includes/banner-pattern.html' %}
  {% include 'includes/banner-pattern.html' %}
  <div class="container">
    {% placeholder "blurb" %}
  </div>
</section>
{% endblock %}

{% block body %}
<section class="features">
  {% placeholder "features" %}
</section>

<section class="news">
  <div class="intro">
    <div class="text">
      {% placeholder "news intro" %}
    </div>
  </div>
  <div class="owl-carousel" id="news">
    {% placeholder featured_news %}
  </div>
</section>

<section class="blog-latest container">
  <!-- Temporarily disabled -->
  {#% placeholder "blogentries" %#}
</section>
{% endblock %}

{% block template-scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}vendor/owl.carousel/dist/owl.carousel.min.js"></script>
{% endblock template-scripts %}

{% block javascript-asynchronous %}
<script src="{{ STATIC_URL }}vendor/jQuery.dotdotdot/src/jquery.dotdotdot.js"></script>
<script>
  $(function () {
    // carousel
    $('#news').owlCarousel({
      margin:30,
      dots:false,
      responsive:{
        0:{
          items:0
        },
        768:{
          items:2,
          nav:true
        },
        992:{
          items:3,
          nav:true
        }
      }
    })

    // blog preview ellipsis
    $(".blog-latest article").dotdotdot({
      //	configuration goes here
    });
  });
</script>
{% endblock %}

{# Don't display the breadcrumb on the homepage #}
{% block breadcrumb-sheath %}{% endblock %}
