{% extends "cms_twocolumn.html" %}
{% load cms_tags %}

{% block body %}
<div>
  <aside>
    <nav id="side-nav">
      {% include 'includes/sidebar.html' %}
    </nav>
    <div>
      {% static_placeholder "sitewide sidebar" %}
      {% placeholder "sidebar" inherit %}
    </div>
  </aside>
  <section class="research">
    <ul class="research-list">
    {% for page in request.current_page.get_children %}
      {% page_attribute "title" page as child_title %}
      {% page_attribute "page_title" page as child_author %}
      {% page_attribute "menu_title" page as child_date %}
      {% page_attribute "slug" page as child_slug %}
      {% if child_date != "None" and child_date != "" %}
      <li>
        <a href="{{ child_slug }}" target="_blank">
          <div class="meta">
            <span class="title">{{ child_title }}</span> <span class="sr-only">{{ _('by') }}</span>
            <span class="author">{{ child_author }}</span>
          </div>
          <div class="date">
            <time>
              {{ child_date }}
            </time>
          </div>
        </a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock %}
