{% extends "cms_default.html" %}
{% load cms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block body-class %}home-template{% endblock %}
{% block pagebanner %}
<section class="banner">
  <div class="container">
    <div class="mission">
      {% placeholder "blurb" %}
    </div>
      {% placeholder featured_news %}
  </div>
</section>
{% endblock %}

{% block body %}
<section class="features">
  <div class="container">
    {% placeholder "features" %}
  </div>
</section>

<section class="container call-to-action">
  {% placeholder "call to action link" %}
</section>

<section class="blog-latest container">
  <!-- Temporarily disabled -->
  {#% placeholder "blogentries" %#}
</section>
{% endblock %}

{% block javascript-asynchronous %}
<script src="{{ STATIC_URL }}vendor/jQuery.dotdotdot/src/jquery.dotdotdot.js"></script>
<script>
  $(function () {
    // change bg img
    $.fn.setBg = function(){
      var newsimage = $('.banner .item.active').attr('data-img');
      $('.banner').css('backgroundImage','url(' + newsimage + ')');
    }
    $.fn.setBg();
    $('#news').on('slide.bs.carousel', function () {
      $( ".banner").addClass( "transition");
    })
    $('#news').on('slid.bs.carousel', function () {
      $.fn.setBg();
      $( ".banner").removeClass( "transition");
    })
    // word spans
    $(".carousel-caption h3, .carousel-caption p").lettering('words');
    // blog preview ellipsis
    $(".blog-latest article").dotdotdot({
      //	configuration goes here
    });
  });
</script>
{% endblock %}

{# Don't display the breadcrumb on the homepage #}
{% block breadcrumb-sheath %}{% endblock %}
